<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @computer.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Parts:</strong>
  <%= @computer.parts %>
</p>

<p>
  <strong>Price:</strong>
  <%= @computer.price %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @computer.sold %>
</p>

<p>
  <strong>Cover Pic:</strong>
  <%= @computer.cover %>
</p>
<%= image_tag  @computer.cover.url if @computer.cover? %>
<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
